{% if bead is defined %}
# {{ bead.id }}: {{ bead.title }}

{{ bead.description }}
{% if bead.depends_on %}

## Dependencies
{% for dep in bead.depends_on %}
- {{ dep.dep_title }}
{% endfor %}
{% endif %}

## Exit
```
git add <files> && git commit -m "[{{ bead.id }}] <description>" && git push
```
{% else %}
Branch: {{ branch | default("(unknown)") }}
{% endif %}
