.git
.git-rewrite
.cabal-sandbox
.cabal-bin
cabal.project.local
dist
dist-newstyle
.ghc.environment.*
.hls-cache
.stack-work
.direnv
.envrc
.env
.env.*
!.env.example
node_modules
.next
out
build
target
/worktrees
/runtime/bin
/.tidepool
**/*.log
**/*.sock
**/.DS_Store
*.swp
*.bak
