    tab name="{{ tab_name }}"{% if focus %} focus=true{% endif %} {
        pane name="{{ pane_name }}" focus=true {
            command "{{ shell }}"
            args "-l" "-c" "{{ command }}"
            cwd "{{ cwd }}"
            close_on_exit true
        }
        pane size=3 borderless=true {
            plugin location="file:~/.config/zellij/plugins/exomonad-plugin.wasm"
        }
    }
